<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Phonelist</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p> {{date[0]}}-{{date[1]}}-{{date[2]}}:</p>
    <ul>
       {% for item in list %}
          <li>{{item[0]}}: {{item[1]}}</li>
       {% endfor %}
    </ul>

    
    <form action="/delete">
      <label for="name">Delete:</label><br>
      <input type="text" id="name" name="name" value="John">
      <input type="submit" value="Delete">
   </form>



<!-- <form action="/insert"> -->
      <form action="/insert" method="post">
         <label for="name">Insert:</label><br>
         <input type="text" id="name" name="name" value="Ture"><br>
         <input type="text" id="phone" name="phone" value="011-852741"><br>
         <input type="text" id="address" name="address" value="Hoppsangatan 2"><br>
         <input type="text" id="city" name="city" value="Ankeborg"><br>
         <input type="text" id="email" name="email" value="putte@hej.se"><br>



         <input type="submit" value="Insert">
      </form>
  </body>
</html>

